# Xcode
.DS_Store
*.xcuserstate
xcuserdata/
DerivedData/
.derivedData/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# Cursor
.cursor/

# App packaging
*.app
